
body .well {
	border: none;
}

div.protectedby {
	display: none;
}

body #main .contact h3 {
	border-bottom: none;
}

.clr {
	clear: both;
}

body {
	overflow-y: scroll;
}

#breadcrumbs ul.menu.custom {
	background: none repeat scroll 0 0 #79C160;
	display: inline-block;
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 22px;
	list-style-type: none !important;
	margin: 0;
	padding: 0 0px 0 30px;
/*	max-width: 935px;	*/
}


aside#right div.moduletablesubmodul {
	/*min-height: 25px !important;*/
	max-width: 379px !important;
	/*padding: 0px 0px 20px 0px;*/
}

div#breadcrumbs .navbar-inner {
	position: fixed;
	z-index: 9999;
}

div#breadcrumbs .navbar .btn-navbar {
	float: none; 
	padding: 7px 70px;
	margin-right: auto;
	margin-left: auto;
}

ul.nav.menu-imp li{
	display: inline-block;
}

#wrapper {
	margin-left: 0px;
}

#footer p {
	margin-bottom: 0px;
}

#contentarea, #contentarea2 {
    max-width: 960px;
}

#main {
    padding: 10px 0 50px 38px;
}

.navbar {
    margin-bottom: 30px;
}

#right ul {
    margin: 6px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px 0px;    
    line-height: 20px;
}

.row-fluid .offset1 {
    margin-left: 8.8%;
}

.contact-emailto {
    padding-left: 0px;
}


/*Kontaktform*/

legend {
    font-size: 12px;
}

.form-actions {
    padding: 0px;
	margin: 0px;
	background-color: transparent;
	border-top: none; 
	float: right;
}

button.btn.btn-primary {
	color: #000;
	font-weight: normal !important;
	background-color: #fff;
	background-image: none;
	padding: 10px !important;
	transition: color, background-color 0.5s ease-in-out;
	margin-top: 30px;

}

button.btn.btn-primary:hover {
	color: #fff;
	background-color: #79C160;
}

.form-horizontal .control-label {
	text-align: left;
}

.form-horizontal .controls {
    margin-left: 155px;
}

.form-horizontal .control-label {
    max-width: 120px;
}

div#easycalccheckplus label {
	margin: 0px;
	position: absolute;
    left: 40px;
}

div#easycalccheckplus label {

}

div#easycalccheckplus input {
	margin: 0px 0px 20px 0px;
	background-image: none;
	width: 111px;	
}

.contact input {
	border: 1px solid #ccc;
}


/*Responsive Overrides*/

@media(min-width: 319px) and (max-width: 567px) {
	aside#right {
		max-width: 280px;
	}

	#main {
		padding-bottom: 0px;
	}
}

@media(min-width: 220px) and (max-width: 767px) {

	div.controls textarea,
	.contact input,
	div#easycalccheckplus input {
		max-width: 55% !important;
	}

	div#easycalccheckplus input {
		margin: 30px 0px 0px 0px;
		float: none;

	}

	div#easycalccheckplus label {
	    margin: 0px;
	    position: absolute;
	    left: 40px;
	}

	.form-actions {
		float: none;
		margin: 0px auto;
		width: 185px;
	}

	.form-horizontal .form-actions {
    	padding-left: 0px;
	}
}

/*@media(min-width: 568px) and (max-width: 767px) {
	aside#right {
		max-width: 350px;
	}

	#main {
		padding-bottom: 0px;
	}
}*/

@media (max-width: 767px) {

	body ul.menu.fullwidth-menue {
	    display: none !important;
	}

	aside#right {
		display: none;
	}

	.show-mobile {
		max-width: 90%;
	}
	
	.nav.menu-imp {
		display: none;
	}

	.moduletablesubmodul {
		display: none;
	}

	.logoheader.span12 {
		display: none;
	}

	.custom.logo-mobile.mobile-visible.span12 {
	    margin: 0px auto;
	    width: 80%;
	    padding: 20px 0px 0px 0px;
	}

	div.vcard .p.fn,
	div.vcard a.url,
	div.vcard p.adr span.country-name {
		display: none;
	}

	p.adr,
	p.tel {
	    text-align: center;
	    text-transform: uppercase;
	    color: #8D8F91;
	    letter-spacing: 2px;
	}

	p.tel {
		font-size: 16px;
		margin: 0px;
	}

	#breadcrumbs {
		margin: 5px 20px 15px 0px;
	}


	aside#right {
		margin: 0px auto;
	}

/*Kontakt*/

	label {
		font-size: 11px;
	}

	.form-horizontal .controls {
 	   margin-left: 85px;
	}

	div.controls textarea,
	.contact input {
		max-width: 80%;
	}


/*toggle-Menu css*/

	.nav_trigger {
	  font-size: 19px;
	  margin: 5px 5px 0 20px;
	}

	#push_sidebar { width: 80%; }

	body.show_sidebar #push_sidebar { left: 20%; }

	body.show_sidebar .wrapper {
	  margin-right: 80%;
	  width: 20%;
	}

	.nav-collapse {
		-webkit-transform: none !important;
	}

	#breadcrumbs ul.menu li {
		    font-size: 11px !important;
		}

	div#push_sidebar ul.menu li {
		line-height: 30px;
	}
}

/*Menu*/

	ul.menu li.active a:link, ul.menu li.active a:visited {
		color: #fff !important;
		background: #79C160 !important;
	}

	.nav_trigger {
	  cursor: pointer;
	  display: inline-block;
	  font-size: 26px;
	  margin: 5px 20px 0 50px;
	  float: right;
	}

	body.show_sidebar .nav_trigger { margin-right: 5px; }

	#push_sidebar {
	  background: #31373d;
	  border-left: 1px solid #ddd;
	  bottom: 0;
	  color: #fff;
	  left: 100%;
	  overflow: auto;
	  position: fixed;
	  top: 0;
	  width: 50%;
	  padding: 10vh 0px;
	  text-transform: uppercase;
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  -ms-transition: all .5s ease;
	  -o-transition: all .5s ease;
	  transition: all .5s ease;
	}

	body.show_sidebar #push_sidebar { 
		left: 50%; 
	}

	.wrapper {
/*	  margin-right: 0;
	  min-height: 1000px;
	  overflow: hidden;
	  width: 100%;*/
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  -ms-transition: all .5s ease;
	  -o-transition: all .5s ease;
	  transition: all .5s ease;
	}

	body.show_sidebar .wrapper {
	  margin-right: 25% !important;
	  width: 50%;
	}


	#push_sidebar li a {
	  padding: 10px 15px 10px 5px;
	  display: block;
	  background: #31373d;
	  color: #efefef;
	  text-decoration: none;
	  border-bottom: 1px solid #<a href="http://www.jqueryscript.net/tags.php?/3D/">3D</a>454C;
	}

	#push_sidebar li a:hover {
	  background-color: #272c30;
	  color: #95a7b7
	}

	#right ul li a {
		background: none;
		transition: background 0.2s ease-in-out;
	}

	#right ul li a:hover {
	    background: transparent;
	    background: url("../images/karogreen.png") no-repeat scroll 16px 12px rgba(0, 0, 0, 0);
	}


/* <--/.Menue*/

@media(min-width: 768px) and (max-width: 813px) {
		
		aside#right {
			max-width: 310px;
	}
}

@media(min-width: 814px) and (max-width: 886px){
		
		aside#right {
			max-width: 350px;
			margin-left: 45px;
	}
}


@media (min-width: 768px) {

	.show-mobile {
		display: none;
	}

	span.contact-emailto {
	    white-space: nowrap !important;
	}

	ul.menu.fullwidth-menue {
		min-height: 25px;		
	}

	ul.menu.fullwidth-menue li {
		line-height: 25px;
	}

	#breadcrumbs ul.menu li {
		display:inline!important;
	}


	aside#right div.moduletablesubmodul {
		border-bottom: 2px solid #99CF85;
	}

	 .custom.logo-mobile.mobile-visible.span12 {
	 	display: none;
	 }

	 div#breadcrumbs span.nav_trigger,
	 div#breadcrumbs div#push_sidebar {
	 	display: none;
	 }

	 ul.menu li.active a:link, ul.menu li.active a:visited {
	    color:  #79C160 !important;	  
	    background: #fff !important;
	    padding: 9px 13px;
	}

	ul.menu li,
	ul.menusub li {
		line-height: 30px;
	}


	ul.menu li.active a:hover{
	    background: url("../images/karo.gif") no-repeat scroll 5px 14px rgba(0, 0, 0, 0) !important;
	    color: #FFFFFF !important;
	}

}


@media (min-width: 768px) and (max-width: 936px) {
	#breadcrumbs ul.menu li {
		font-size: 10px;
	}

	 ul.menu li.active a:link, ul.menu li.active a:visited {
	    font-size: 11px;
	}

}

@media (max-width: 879px) {


	#breadcrumbs ul.menu.custom {
		padding: 0 0px 0 5px;
	}

	aside#right ul.menusub li a {
		font-size: 11px;
	}
}

@media (max-width: 806px) {


	aside#right ul.menusub li a {
		font-size: 10px;
	}

	div#footer-outer {
		margin: 0px;
	}

	aside#right div.custom {
		margin-left: 30px;
	}

	#footer p {
		text-align: center;
	}	

	div#footer3 ul.nav.menu-imp li a{
		text-align: center;
	}
}

@media(max-width: 414px) {
	p.adr {
	    font-size: 12px;
	}
}


@media(max-width: 320px) {
	p.adr {
	    font-size: 10px;
	}
}
@media (max-width: 979px) {
	body.site .nav-collapse, 
	body.site .nav-collapse.collapse {
	    overflow: visible;
	}
}


/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
body#body #cookiesck_accept {
    background: #84c155;
    float: none;
    width: 100px;
    margin: 20px auto 0px !important;
    border: 1px solid #fff;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #84c155;
    background: transparent;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #84c155;
    border-color: #84c155;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1366px) {
  body#body #cookiesck_accept {
      width: 80px !important;
  }
}

body#body .menu-imp {
    max-width: 275px;
}
body#body #footer-sub a:link,
body#body #footer-sub a:visited {
    font-size: 14px;
}
